@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap");
body {
  width: 100%;
  height: 100vh;
  background-color: #0f0f38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app {
  margin: 0;
  padding: 0;
}

.headlights {
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
  font-family: 'Montserrat Subrayada', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.headlights .lights {
  color: yellow;
  text-shadow: 3px 3px 5px yellow;
  -webkit-animation: lightsblinking 2s ease-in-out infinite;
          animation: lightsblinking 2s ease-in-out infinite;
}

.headlights .out {
  color: blue;
  text-shadow: 3px 3px 5px blue;
  -webkit-animation: outblinking 4s ease infinite;
          animation: outblinking 4s ease infinite;
}

@media (min-width: 1025px) {
  .headlights {
    font-size: 2.4rem;
  }
}

.game-board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  width: 80vw;
  height: 80vw;
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 80px -5px #ccccc1;
          box-shadow: 0px 0px 80px -5px #ccccc1;
  -webkit-animation: shadowbliknking 5s ease infinite;
          animation: shadowbliknking 5s ease infinite;
}

@media (orientation: landscape) {
  .game-board {
    width: 50vw;
    height: 50vw;
  }
}

@media (min-width: 1025px) {
  .game-board {
    max-width: 500px;
    max-height: 500px;
  }
}

.box {
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.box.isOn {
  background-color: #06b4b4;
}

.box.isOff {
  background-color: #3f3e3e;
}

@-webkit-keyframes shadowbliknking {
  30% {
    -webkit-box-shadow: 0px 0px 40px -15px #b5b5a5;
            box-shadow: 0px 0px 40px -15px #b5b5a5;
  }
  60% {
    -webkit-box-shadow: 0px 0px 120px 15px #e3e3dd;
            box-shadow: 0px 0px 120px 15px #e3e3dd;
  }
}

@keyframes shadowbliknking {
  30% {
    -webkit-box-shadow: 0px 0px 40px -15px #b5b5a5;
            box-shadow: 0px 0px 40px -15px #b5b5a5;
  }
  60% {
    -webkit-box-shadow: 0px 0px 120px 15px #e3e3dd;
            box-shadow: 0px 0px 120px 15px #e3e3dd;
  }
}

@-webkit-keyframes outblinking {
  0% {
    color: blue;
    text-shadow: 3px 3px 5px blue;
  }
  33% {
    color: #3333ff;
    text-shadow: 3px 3px 5px #4d4dff;
  }
  66% {
    color: #0000cc;
    text-shadow: 3px 3px 5px #0000b3;
  }
  100% {
    color: blue;
    text-shadow: 3px 3px 5px blue;
  }
}

@keyframes outblinking {
  0% {
    color: blue;
    text-shadow: 3px 3px 5px blue;
  }
  33% {
    color: #3333ff;
    text-shadow: 3px 3px 5px #4d4dff;
  }
  66% {
    color: #0000cc;
    text-shadow: 3px 3px 5px #0000b3;
  }
  100% {
    color: blue;
    text-shadow: 3px 3px 5px blue;
  }
}

@-webkit-keyframes lightsblinking {
  0% {
    color: yellow;
    text-shadow: 3px 3px 5px yellow;
  }
  25% {
    color: #666600;
    text-shadow: 3px 3px 5px #333300;
  }
  50% {
    color: #ffff99;
    text-shadow: 3px 3px 5px #ffff66;
  }
  75% {
    color: olive;
    text-shadow: 3px 3px 5px #4d4d00;
  }
  100% {
    color: yellow;
    text-shadow: 3px 3px 5px yellow;
  }
}

@keyframes lightsblinking {
  0% {
    color: yellow;
    text-shadow: 3px 3px 5px yellow;
  }
  25% {
    color: #666600;
    text-shadow: 3px 3px 5px #333300;
  }
  50% {
    color: #ffff99;
    text-shadow: 3px 3px 5px #ffff66;
  }
  75% {
    color: olive;
    text-shadow: 3px 3px 5px #4d4d00;
  }
  100% {
    color: yellow;
    text-shadow: 3px 3px 5px yellow;
  }
}
/*# sourceMappingURL=main.css.map */